/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #666666;
	background: url(images/bg.jpg) no-repeat #000000;
	line-height: 16px;
}


	
#main {
	width: 1010px;
	margin: 0px auto;
	background:url(images/main.jpg) right top no-repeat;}

#header { 
	height: 158px;
}

#logo {	
		padding: 24px 0px 0px 97px;
		height: 81px;
}


#logo a {
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
	font-style: italic;
}
	
#logo H2 a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 100;
	padding-left: 35px;
}

#buttons{
	text-align:center;
	height: 53px;
	margin-left: 0px;
	padding: 0px 0px 0px 20px;
	background: url(images/buttons.jpg) top repeat-x;
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	display: block;
	float: left;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding-top: 18px;
	height: 35px;
	width: 190px;
}

.but {
	
}

#buttons .but:hover {
	text-decoration: none;
	background: url(images/but_hov.jpg) 2px repeat-x;}

	
.top { height:272px;
	background: url(images/top.jpg) left top no-repeat;
	padding: 0px 0px 0px 0px;}	

.circl { background: url(images/circl.gif) left top no-repeat;
	height: 14px;
	width: 13px;
	margin: 0px 7px 0px 0px;
	float: right;
	}
.circl:hover {
	background:url(images/circl_hov.gif) left top no-repeat; }

#content{
	background: #FFFFFF;
	padding: 8px 8px 8px 8px;
}



#content H2{
	font: 18px Arial, Helvetica, sans-serif;
	color: #7D3E09;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content_left{
	float: left;
	width: 602px;
}

.news{
	background: url(images/border.gif) repeat-x bottom;
	padding: 0px 10px 0px 10px;
}

.news_last{
	padding: 0px 10px 30px 10px;
}

.news_left{
	float: left;
	width: 280px;	
	padding-left: 15px;
}

.news_right{
	float: right;
	width: 280px;	
}

#content_right{
	float: right;
	width: 379px;
	margin-top: -10px;
}

#content_right a
{
font-weight: bold;
text-decoration: underline
}

#content_right .read a, #content_left .read a{
	display:block;
	float:right;
	height: 19px;
	width: 84px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #7D3E09;
	text-decoration: none;
	font-size:12px;
	font-weight: bold;
}


#content_right h2{
	padding-left: 20px;
}

.border{
	height: 25px;
}

.ls{
    list-style: none;
    padding-left: 0px;
}

.ls li{
    background: url(images/ls1.gif) no-repeat 0px 6px;
    margin-bottom: 8px;
    padding-left: 15px;
}
/*
	download_box
*/
#download_box{
	width: 100%;
	height: 119px;
}

.clear{
	clear: both;	
}

#download_box_text{
	height: 119px;
    padding: 20px;
	padding-top: 0px;
	margin-top: -10px	
}

#download_box_text p{
	font: 18px Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #7D3E09;
	line-height: 30px;
	padding-top: 10px;
}

.dow_box_left{
	width: 685px;
	float: left;
}

.dow_box_right{
	float: right;
	padding-top: 22px;
	padding-right: 10px;
}

.dow_box_right a{
	background: url(images/down_bot.jpg) no-repeat top left;
	width: 239px;
	height: 85px;
	display: block;
	text-align: center;
	font: 24px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	line-height: 75px;
}
.dow_box_right a:hover{
	background: url(images/down_bot.jpg) no-repeat top left;
	width: 239px;
	height: 85px;
	display: block;
	text-align: center;
	font: 24px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	line-height: 75px;
}



.ram {
	border: 1px solid #FFFFFF;
	padding: 10px 18px 10px 18px;
	background: url(images/ram.jpg) bottom repeat-x #F0F0F0;}

#left{
	width: 652px;
	float: left;
	margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

#right{
	float: right;
	width: 284px;
	margin-right: 0px;
}

.content_razd{
	background: url(images/content_razd.gif) 674px repeat-y;
	padding: 0px 0px 0px 0px;
	clear:both;
}

.razd_h {
	height: 30px;
	background: url(images/razd_v.gif) 15px repeat-x;
	clear:both;
	}


h3 {
	color: #BB4214;
	font-weight:  100;
	font-size: 18px;
	text-align: left;
	padding: 8px 0px 8px 0px;
}

.razd_col {
	background:url(images/razd_col.jpg) 30px top no-repeat;
	height: 183px;
	float:left;
	width: 60px;}
	
.home_box {
	float: left;
	width: 280px;
	padding: 0px 0px 0px 0px;}
	
.row_ind {}

a {
	color: #666666;
	text-decoration: none;}
a:hover {
	color: #666666;
	text-decoration: underline;}


.img_l {	float:left;
		margin: 0px 15px 0px 0px;
}

.img_r {	float: right;
		margin: 0px 0px 0px 15px;
}

H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #7D3E09;
	text-align: left;
	padding: 0px 0px 0px 0px;
	line-height: 20px;
}

.a_h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #7D3E09;
	text-align: left;
	padding: 0px 0px 0px 0px;
	line-height: 20px;
}
.a_h1:hover { text-decoration:underline;
			color: #7D3E09;}

.read{
	display:block;
	float:right;
	height: 19px;
	width: 84px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #7D3E09;
	text-decoration: none;
	font-size:12px;
	font-weight: bold;
}

.read:hover {
	text-decoration: underline;
	color: #7D3E09;
}


.razd_h {
	height: 30px;
	background: url(images/razd_v.gif) 15px repeat-x;
	clear:both;
	}


.span_dat {
	color: #002380;
	text-decoration: underline;}
	
.spis  {
	list-style:none;
	padding: 0px 0px 0px 0px;}

.spis li {
	padding: 2px 0px 0px 15px;
	background: url(images/spis.gif) 0px 7px no-repeat;
	}

	
#bottom {
	width: 100%;
	background: url(images/bottom.jpg) left bottom  no-repeat;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	height: 273px;
}

.bottom_h2 { background:url(images/bottom_h2.jpg) top repeat-x;}

.bottom_razd { background: url(images/bottom_razd.png) 340px bottom no-repeat;
				height: 273px;}

.bottom_text { padding: 0px 0px 0px 12px;}

#bottom h2{
	font-family: Arial, Helvetica, sans-serif;
	padding: 16px 0px 24px 0px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	font-weight: 100;
	line-height: 20px;
	background: url(images/h1_bottom.jpg) left top no-repeat; 
}

.b_col1 {
	width: 287px;
	float: left;
	margin-left: 30px;
}
.b_col2 {
	width: 254px;
	float: left;
	margin-left: 75px;
}
.b_col3 {
	width: 234px;
	float: left;
	margin-left: 75px;
	text-align: left;
}

.b_col3 ul {
	list-style:none;
	padding: 0px 0px 0px 40px;}

.b_col3 li {
	padding: 8px 0px 0px 20px;
	background: url(images/fish1.gif) 0px 14px no-repeat;
	}
.b_col3 ul a:hover {
	text-decoration:underline;
	}
	
.b_col3 ul a {
	color:#ffffff;
	font-weight: bold;
	text-decoration:none;}
	
.fu_i {
	padding: 0px 14px 0px 0px;
	vertical-align: middle ;
}

.b_col2 ul {
	list-style:none;
	padding: 0px 0px 0px 40px;}

.b_col2 li {
	padding: 8px 0px 2px 0px;
	background: none;
	}
	
.b_col2 li a {
	color:#ffffff;
	text-decoration: none;
	font-weight: bold;
	
}
.b_col2 li a:hover {
	text-decoration: underline;
}

#footer{
	height: 67px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	padding: 25px 0px 0px 0px;
	background: url(images/footer.jpg) 0px 15px no-repeat;
	font-weight: 100;
}

#footer a{
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
	font-weight: 100;
}

#footer a:hover{
	color: #ffffff;
	font-size: 12px;
	text-decoration: underline;
	font-weight: 100;
}

/* blog */

.datc_comment {
	height: 25px;
	width: 100%;
	background: url(images/datc_comment.gif) top repeat-x;
	padding-top: 8px;
	padding: 6px 0px 4px 0px;
	}

.datc  {
	float: left;
	width: 132px;
	color: #7B3401;}
	
.datc_comment a {
	color: #626262;
	font-weight: 100;
	text-decoration:none;
}

.datc_comment a:hover {
	text-decoration:underline;
}

.comment {
	float: left;
	width: 146px;}
	
.bloger {
	float: left;
	width: 152px;}

.text{
	padding: 10px 15px 15px 0px;
	background: #FFFFFF;
	clear:both;
}
	
.a_non {
	text-decoration: none;
	color: #142B23;}
.a_non a:hover {
	text-decoration: none;}
	
.spis2  {
	list-style:none;
	padding: 0px 0px 0px 0px;}

.spis2 li {
	padding: 6px 0px 4px 15px;
	background: url(images/spis2.gif) 0px bottom no-repeat;
	}
#content .spis2 a:hover {
	text-decoration: none;
	color:#FF0000;
	}
	
#content .spis2 a {
	color:#666666;
	text-decoration:none;
	font-weight: 100;}

/* gallery */

.row {
	padding: 0px 0px 0px 2px;
}

.box_img2 {
	width: 300px;
	background: url(images/box_img.jpg) left top no-repeat;
	padding: 10px 10px 0px 10px;
	float:left;
	height: 227px;
}

.box_img2_text {
padding: 0px 0px 0px 0px;}

.box_razd {
	width: 14px;
	height: 50px;
	float: left;
}

.img_height
{
height: 123px;
}

.gal_num {
	width:16px;
	height:22px;
	padding: 3px 0px 0px 9px;
	display:block;
	background: url(images/gal_num.gif) left top no-repeat;
	color: #FFFFFF;
	font-size: 14px;
	margin: 0px 10px 0px 0px;
	text-decoration:none;
	float: left;}
	
.gal_num:hover {
	text-decoration: underline;
	color:#FFFFFF;}

/* contact us */

.input_txt2 {	
	width: 585px;
	border: none;
	background: url(images/input_txt2.gif) left top repeat-x;
	padding: 7px 10px 6px 10px;
	color:#ffffff;
	font-weight: 100;
	font-family:Arial, Helvetica, sans-serif;

}

.text_area2 {
	width: 585px;
	height:121px;
	font-size: 12px;
	border: none;
	background: url(images/text_area2.gif) 0px 0px repeat-x;
	padding: 7px 10px 7px 10px;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 100;
}
.submit2 {
	background: url(images/read.gif) top repeat-x;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #7D3E09;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	width: 74px;
	margin: 0px 20px 0px 0px;
	height: 19px;
	font-weight: bold;
	
}

.cont_text { padding: 0px 0px 0px 7px;
				}


/*
scroll styles here
*/

.item { width: 994px; height:272px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 994px; height: 272px;} 
.scrollable .items { width:20000em; position:absolute;}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { width:auto; height:20px; float:right; margin:5px 0; padding-right: 20px;} 
.navi a { width: 13px; cursor:pointer; height: 14px; float:left; margin:0 0 0 3px; background:url(images/circl.gif) no-repeat scroll right top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 3px;  background:url(images/circl_hov.gif) no-repeat scroll right top}

.header1
{
width: 994px; height: 272px;
background: url(images/top.jpg) no-repeat;
}

.header2
{
width: 994px; height: 272px;
background: url(images/top2.jpg) no-repeat;
}

.header3
{
width: 994px; height: 272px;
background: url(images/top3.jpg) no-repeat;
}


/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay {background: #000;display: none;left: 0;position: absolute;top: 0;width: 100%;z-index: 9500;}
div.pp_pic_holder {display: none;position: absolute;width: 100px;z-index: 10000;}

