<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Trade Market a Corporate Business Category Flat Bootstrap Responsive Website Template | News :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trade Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery.marquee.min.js"></script>
<!-- //js -->
<!-- small-graphs -->
<script src="js/jquery.peity.js"></script>
<!-- //small-graphs -->
<link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="w3ls_header_top">
			<div class="container">
				<div class="w3l_header_left">
					<ul class="w3layouts_header">
						<li class="w3layouts_header_list">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
									<div class="mega-dropdown-menu">
										<ul class="dropdown-menu w3_dropdown">
											<li><a href="#">English</a></li> 
											<li><a href="#">Hindi</a></li>
										</ul>              
									</div>	
								</li>
								<li>
									<i>|</i>
								</li>
							</ul>
						</li>
						<li class="w3layouts_header_list">
							<a href="login.html">Login To Trade</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="faq.html">FAQ</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(000) 123 456 678</h2>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="w3ls_header_middle">
			<div class="container">
				<div class="agileits_logo">
					<h1><a href="index.html"><span>Trade</span> Market<i>Trade anytime anywhere</i></a></h1>
				</div>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Search" required="">
						<select id="agileinfo_search" name="agileinfo_search">
							<option value="commodities">Commodities</option>
							<option value="navs">NAVs</option>
							<option value="quotes">Quotes</option>
							<option value="videos">Videos</option>
							<option value="news">News</option>
							<option value="notices">Notices</option>
							<option value="all">All</option>
						</select>
						<input type="submit" value="Search">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="trade_navigation">
		<div class="container">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<nav class="wthree_nav">
						<ul class="nav navbar-nav nav_1">
							<li><a href="index.html">Home</a></li>
							<li><a href="equity.html">Equity</a></li>
							<li><a href="commodities.html">Commodities</a></li>
							<li class="act"><a href="news.html">News</a></li>
							<li><a href="products.html">Products</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Short Codes<span class="caret"></span></a>				
								<div class="dropdown-menu w3ls_vegetables_menu">
									<ul>	
										<li><a href="icons.html">Icons</a></li>
										<li><a href="typography.html">Typography</a></li>
									</ul>             
								</div>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<span class="caret"></span></a>				
								<div class="dropdown-menu w3ls_vegetables_menu">
									<ul>	
										<li><a href="funds.html">Fundamental</a></li>
										<li><a href="funds.html">Technical</a></li>
										<li><a href="funds.html">Mutual Funds</a></li>
									</ul>             
								</div>				
							</li>
							<li><a href="service.html">Customer Service</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- //navigation -->
<!-- news -->
	<div class="news">
		<div class="news_grid">
			<h3>the goal of a successful trader is to make the best trades. money is secondary</h3>
		</div>
	</div>
<!-- //news -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="panel panel-default agile_panel">
			<div class="panel-body agile_panel_body">
				<ul class="demo1">
					<li class="news-item">
						<table class="w3_table_trade">
							<tr>
								<td class="w3_agileits_td demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">NIFTY 50</td>
										</tr>
										<tr>
											<td>8,638.23<i><span class="caret"></span>-8.35(-0.10%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">SILVER</td>
										</tr>
										<tr>
											<td>46,343.56<i><span class="caret"></span>-186.00(-0.40%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;">Dollar-Rupee</td>
										</tr>
										<tr>
											<td>66.8650<i class="wthree_i"><span class="caret caret1"></span>0.00(0.00%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">CRUDEOIL</td>
										</tr>
										<tr>
											<td>3,097.00<i><span class="caret"></span>-7.00(-0.23%)</i></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li class="news-item">
						<table class="w3_table_trade">
							<tr>
								<td class="w3_agileits_td demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">gold</td>
										</tr>
										<tr>
											<td>31,350.23<i><span class="caret"></span>-117.00(-0.37%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">ftsc</td>
										</tr>
										<tr>
											<td>6.887.93<i><span class="caret"></span>-5.99(-0.09%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">cac</td>
										</tr>
										<tr>
											<td>4,436.70<i><span class="caret"></span>-23.00(0.54%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">dax</td>
										</tr>
										<tr>
											<td>10,596.00<i><span class="caret"></span>-79.89(-0.75%)</i></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li class="news-item">
						<table class="w3_table_trade">
							<tr>
								<td class="w3_agileits_td demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">sensex</td>
										</tr>
										<tr>
											<td>2,7993.64<i><span class="caret"></span>-66.59(-0.24%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">nhai</td>
										</tr>
										<tr>
											<td>1,256.00<i style="color:#00AA00"><span class="caret caret1"></span>16.20(1.31%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;">Euro-Rupee</td>
										</tr>
										<tr>
											<td>75.42<i class="wthree_i"><span class="caret caret1"></span>0.03(0.04%)</i></td>
										</tr>
									</table>
								</td>
								<td class="demo1_w3_table_trade">
									<table class="agileits_w3layouts_table">
										<tr>
											<td style="color:#01A9CE;text-transform:uppercase;">iifl</td>
										</tr>
										<tr>
											<td>1,006.51<i><span class="caret"></span>-1.25(-0.12%)</i></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>							
					</li>
				</ul>
			</div>
		<div class="panel-footer"> </div>
		</div>
		<script type="text/javascript">
			$(function () {
				$(".demo1").bootstrapNews({
					newsPerPage: 1,
					autoplay: true,
					pauseOnHover:true,
					direction: 'up',
					newsTickerInterval: 3000,
					onToDo: function () {
						//console.log(this);
					}
				});
				
				$(".demo2").bootstrapNews({
					newsPerPage: 3,
					autoplay: true,
					pauseOnHover: true,
					navigation: false,
					direction: 'up',
					newsTickerInterval: 2500,
					onToDo: function () {
						//console.log(this);
					}
				});
			});
		</script>
		<script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
		<div class='agileinfo_marquee'>
			<div data-speed="10" class="marquee">
				<ul>
					<li><a href="single.html">NPAs of associate banks to weigh on SBI: Religare Capital<span>\</span></a></li>
					<li><a href="single.html">Julius Baer analyst sees opportunities in despised China market</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- news-original -->
	<div class="news-original">
		<div class="container">
			<div class="agileinfo_news_original_grids w3_agile_news_market_grids">
				<h6>News</h6>
				<div class="col-md-6 w3_agile_news_market">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Latest News</a></li>
							<li role="presentation" class=""><a href="#latest" role="tab" id="latest-tab" data-toggle="tab" aria-controls="latest" aria-expanded="false">Top Stories</a></li>
							<li role="presentation"><a href="#experts" role="tab" id="experts-tab" data-toggle="tab" aria-controls="experts">Market Pulse</a></li>
							<li role="presentation"><a href="#read" role="tab" id="read-tab" data-toggle="tab" aria-controls="read">Realtime Headlines</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
								<ol class="w3_tab_list agile_news_market w3_agile_news_page_list">
									<li><i>28/8/2016</i><a href="single.html">China taking more collaborative approach to cybersecurity</a></li>
									<li><i>27/8/2016</i><a href="single.html">Terrorism not suspected in deadly explosion in Belgium</a></li>
									<li><i>27/8/2016</i><a href="single.html">Singapore rolls out world’s first self-driving taxis</a></li>
									<li><i>27/8/2016</i><a href="single.html">California may soon offer state-run retirement plan</a></li>
									<li><i>26/8/2016</i><a href="single.html">Japan consumer prices drop for 5th straight month</a></li>
									<li><i>26/8/2016</i><a href="single.html">Most of affected VWs in U.S. can't be retrofitted</a></li>
									<li><i>25/8/2016</i><a href="single.html">U.S. Navy ship fires warning shots at Iranian vessel</a></li>
									<li><i>25/8/2016</i><a href="single.html">Investor love for emerging markets is more than a summer fling</a></li>
									<li><i>25/8/2016</i><a href="single.html">Amazon to open eighth fulfillment center in Texas</a></li>
									<li><i>25/8/2016</i><a href="single.html">Dollar store results suffer from pressures on low-income consumers</a></li>
									<li><i>25/8/2016</i><a href="single.html">Top exec at Korea’s embattled Lotte Group found dead</a></li>
									<li><i>24/8/2016</i><a href="single.html">Swimmer Ryan Lochte wins endorsement deal for ‘forgiving’ throat drop</a></li>
								</ol>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="latest" aria-labelledby="latest-tab">
								<ol class="w3_tab_list agile_news_market w3_agile_news_page_list">
									<li><i>28/8/2016</i> <a href="single.html">Hope for double-digit revenue run rate by Q4FY17: Just Dial</a></li>
									<li><i>27/8/2016</i> <a href="single.html">Why investors can stop freaking out over the Fed, in three words</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Two Fed rate hikes 'conceivable' in 2016, Sept in play: Lockhart</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Dish TV, Videocon D2H in final stages of merger deal: Sources</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Cisco Systems to lay off about 14,000 employees: Report</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Ready to Talk on Terror Not on Kashmir: India Tells Pakistan</a></li>
									<li><i>25/8/2016</i> <a href="single.html">The knowledge you need to take your SME ahead</a></li>
									<li><i>25/8/2016</i> <a href="single.html">Click here for the best real estate investment advice</a></li>
								</ol>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="experts" aria-labelledby="experts-tab">
								<ol class="w3_tab_list agile_news_market w3_agile_news_page_list">
									<li><i>28/8/2016</i> <a href="single.html">Coal India's 66 coal mine projects facing delays</a></li>
									<li><i>27/8/2016</i> <a href="single.html">Flipkart aims to secure additional Rs 75 crore loans to sellers</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Aditya Birla Fashion eyes raising up to Rs 1,250 cr via bonds</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Blackstone sells 3.25% stake in NCC</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Prism Cement to raise up to Rs 1,250 cr via pvt placement</a></li>
									<li><i>26/8/2016</i> <a href="single.html">Top of the pyramid: How the uber rich and mighty spend</a></li>
									<li><i>25/8/2016</i> <a href="single.html">Gone for good: GST will push these taxes into oblivion</a></li>
									<li><i>25/8/2016</i> <a href="single.html">UPI-friendly apps to go live; users to have another option: NPCI</a></li>
									<li><i>24/8/2016</i> <a href="single.html">Trastuzumab marketing approval may come in 12-18 months: Biocon</a></li>
									<li><i>24/8/2016</i> <a href="single.html">See consumption led recovery in industry: Carborundum</a></li>
									<li><i>24/8/2016</i> <a href="single.html">FY17 revenue growth to be 10-12%, added 20 new clients: Infinite</a></li>
									<li><i>24/8/2016</i> <a href="single.html">Lower interest, tax cost and other income boosted Q1: PNC Infra</a></li>
								</ol>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="read" aria-labelledby="read-tab">
								<ol class="w3_tab_list">
									<li><span>20-Aug-2016</span> <a href="single.html">Brexit will create uncertainty but may not hit IT cos much: Pros</a></li>
									<li><span>20-Aug-2016</span> <a href="single.html">Common sense, wisdom main ingredients in stock picking: Veliyath</a></li>
									<li><span>19-Aug-2016</span> <a href="single.html">One needs to have guts to take contrarian market bets: Emkay</a></li>
									<li><span>19-Aug-2016</span> <a href="single.html">Dish TV, Videocon D2H in final stages of merger deal: Sources</a></li>
									<li><span>19-Aug-2016</span> <a href="single.html">Cisco Systems to lay off about 14,000 employees: Report</a></li>
									<li><span>18-Aug-2016</span> <a href="single.html">Ready to Talk on Terror Not on Kashmir: India Tells Pakistan</a></li>
									<li><span>17-Aug-2016</span> <a href="single.html">The knowledge you need to take your SME ahead</a></li>
									<li><span>17-Aug-2016</span> <a href="single.html">Click here for the best real estate investment advice</a></li>
								</ol>
							</div>
						</div>
					</div>
					<div class="w3_agileits_news_blog">
						<div class="col-md-6 w3_agileits_news_blog1">
							<img src="images/28.jpg" alt=" " class="img-responsive" />
							<a href="single.html">FY17 revenue growth to be 10-12%, added 20 new clients: Infinite</a>
							<p>In an interview to CNBC-TV18, Upinder Zutshi, MD &amp; CEO of Infinite Compute ..</p>
						</div>
						<div class="col-md-6 w3_agileits_news_blog1">
							<img src="images/29.jpg" alt=" " class="img-responsive" />
							<a href="single.html">UPI-friendly apps to go live; users to have another option: NPCI</a>
							<p>In the next 2-3 days banks will be uploading the UPI-enabled apps on Google ..</p>
						</div>
						<div class="clearfix"> </div>
						<div class="col-md-6 w3_agileits_news_blog1">
							<img src="images/30.jpg" alt=" " class="img-responsive" />
							<a href="single.html">Tata Power's consumer base crosses 2 million mark across the Country</a>
							<p>In FY 16, Tata Powers total consumer base in Mumbai increased to over 6.64 lakhs and its consumer base in Delhi in...</p>
						</div>
						<div class="col-md-6 w3_agileits_news_blog1">
							<img src="images/31.jpg" alt=" " class="img-responsive" />
							<a href="single.html">UCWeb launches New UC Browser and announces strategic partnership with Colors TV</a>
							<p>The partnership with Colors TV for some of its shows is a reinforcement of the strategy of Alibaba Mobile Business...</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileinfo_twi_grids_blog">
						<div class="agileinfo_twi_grids_blog_grid">
							<div class="agileinfo_twi_grids_blog_left">
								<h4>30 minutes ago</h4>
								<a href="single.html">Mapping the market: Luck smiles on Tata Motors, Trident as Wipro wilts</a>
								<p>The benchmark S&amp;P BSE Sensex shed 54 points to end the day at 27,782. The 50-share gauge Nifty50 closed at 8,572, lower by 19 points.</p>
							</div>
							<div class="agileinfo_twi_grids_blog_right">
								<img src="images/32.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agileinfo_twi_grids_blog_grid">
							<div class="agileinfo_twi_grids_blog_left">
								<h4>50 minutes ago</h4>
								<a href="single.html">World’s biggest pension fund GPIF loses $52 billion as stocks slump</a>
								<p>The quarterly decline follows a 5.3 trillion yen loss in the fiscal year through March, the worst annual performance since the global financial crisis.</p>
							</div>
							<div class="agileinfo_twi_grids_blog_right">
								<img src="images/33.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agileinfo_twi_grids_blog_grid">
							<div class="agileinfo_twi_grids_blog_left">
								<h4>1 Hour ago</h4>
								<a href="single.html">How to judge if your equity mutual fund can really deliver or not</a>
								<p>It is as important to gauge the performance of portfolio and fund manager, as much as the investment itself, since wrong investment can hurt future returns.</p>
							</div>
							<div class="agileinfo_twi_grids_blog_right">
								<img src="images/34.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agileinfo_twi_grids_blog_grid">
							<div class="agileinfo_twi_grids_blog_left">
								<h4>2 Hours ago</h4>
								<a href="single.html">Buy volatility ahead of a jam-packed 'Policy Month,' says BofAML</a>
								<p>Bank of America joins strategists at UBS Securities LLC in warning investors to prepare for a mean reversion in volatility.</p>
							</div>
							<div class="agileinfo_twi_grids_blog_right">
								<img src="images/35.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 w3_agile_news_market_left">
					<div class="w3_agile_news_market_left_demo3">
						<ul class="demo3">
							<li class="news-item1">
								<div class="w3_agile_news_market1">
									<div class="w3_agile_news_market1_left">
										<img src="images/24.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="w3_agile_news_market1_right">
										<a href="single.html">Gone for good: GST will push these taxes into oblivion</a>
									</div>
									<div class="clearfix"> </div>
									<p>10 hours 20 minutes ago</p>
								</div>
							</li>
							<li class="news-item1">
								<div class="w3_agile_news_market1">
									<div class="w3_agile_news_market1_left">
										<img src="images/25.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="w3_agile_news_market1_right">
										<a href="single.html">Top of the pyramid: How the uber rich and mighty spend</a>
									</div>
									<div class="clearfix"> </div>
									<p>12 hours 13 minutes ago</p>
								</div>
							</li>
							<li class="news-item1">
								<div class="w3_agile_news_market1">
									<div class="w3_agile_news_market1_left">
										<img src="images/26.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="w3_agile_news_market1_right">
										<a href="single.html">Low procurement rate may impact Railway projects: Titagarh</a>
									</div>
									<div class="clearfix"> </div>
									<p>12 hours 30 minutes ago</p>
								</div>
							</li>
							<li class="news-item1">
								<div class="w3_agile_news_market1">
									<div class="w3_agile_news_market1_left">
										<img src="images/27.jpg" alt=" " class="img-responsive" />
									</div>
									<div class="w3_agile_news_market1_right">
										<a href="single.html">Stalled payments relief likely for infrastructure cos</a>
									</div>
									<div class="clearfix"> </div>
									<p>13 hours 13 minutes ago</p>
								</div>
							</li>
						</ul>
						<script type="text/javascript">
							$(function () {
								
								$(".demo3").bootstrapNews({
									newsPerPage: 3,
									autoplay: true,
									pauseOnHover: true,
									navigation: false,
									direction: 'down',
									newsTickerInterval: 3000,
									onToDo: function () {
										//console.log(this);
									}
								});
							});
						</script>
						<script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
					</div>
					<div class="agileits_w3layouts_top_gainers">
						<div class="w3_agileits_gainers w3_agileits_top_losers">
							<h3><i class="fa fa-bullhorn" aria-hidden="true"></i>Top Gainers</h3>
							<ul>
								<li><a href="single.html">Gainers</a><i>|</i></li>
								<li><a href="single.html">NSE</a><i>|</i></li>
								<li><a href="single.html">BSE</a></li>
							</ul>
							<div class="w3_agileits_gain_list">
								<table class="w3_agile_all_trade w3_table_trade">
									<tr>
										<th class="w3_agileits_head"><b>Company</b></th>
										<td class="w3_agileits_head1"><b>Price</b></td>
										<td class="w3_agileits_head1"><b>% Gain</b></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">UltraTechCement</a>
										</th>
										<td class="agileits_w3layouts_td">3,874.35</td>
										<td class="agileits_w3layouts_td"><span style="color:#00AA00">4.73</span>
										</td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Power Grid Corp</a>
										</th>
										<td class="agileits_w3layouts_td">182.00</td>
										<td class="agileits_w3layouts_td"><span style="color:#00AA00">4.21</span></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">IndusInd Bank</a>
										</th>
										<td class="agileits_w3layouts_td">1,194.60</td>
										<td class="agileits_w3layouts_td"><span style="color:#00AA00">3.56</span></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">NTPC</a>
										</th>
										<td class="agileits_w3layouts_td">166.80</td>
										<td class="agileits_w3layouts_td"><span style="color:#00AA00">3.25</span></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Adani Ports</a>
										</th>
										<td class="agileits_w3layouts_td">275.45</td>
										<td class="agileits_w3layouts_td"><span style="color:#00AA00">2.91</span></td>
									</tr>				
								</table>
								<div style="padding-top:10px;font-size:13px;"><a href="single.html" style="color:#337ab7;">More »</a></div>
							</div>
						</div>
						<div class="w3_agileits_gainers w3_agileits_top_losers">
							<h3><i class="fa fa-bullhorn" aria-hidden="true"></i>Top Losers</h3>
							<ul>
								<li><a href="single.html">Losers</a><i>|</i></li>
								<li><a href="single.html">NSE</a><i>|</i></li>
								<li><a href="single.html">BSE</a></li>
							</ul>
							<div class="w3_agileits_gain_list">
								<table class="w3_agile_all_trade w3_table_trade">
									<tr>
										<th class="w3_agileits_head"><b>Company</b></th>
										<td class="w3_agileits_head1"><b>Price</b></td>
										<td class="w3_agileits_head1"><b>% Loss</b></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Coal India</a>
										</th>
										<td class="agileits_w3layouts_td">339.05</td>
										<td class="agileits_w3layouts_td"><span style="color:#FF0000">-2.52</span>
										</td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Larsen</a>
										</th>
										<td class="agileits_w3layouts_td">1,482.10</td>
										<td class="agileits_w3layouts_td"><span style="color:#FF0000">-1.36</span></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Tata Power</a>
										</th>
										<td class="agileits_w3layouts_td">76.90</td>
										<td class="agileits_w3layouts_td"><span style="color:#FF0000">-1.35</span></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Tata Steel</a>
										</th>
										<td class="agileits_w3layouts_td">387.20</td>
										<td class="agileits_w3layouts_td"><span style="color:#FF0000">-1.19</span></td>
									</tr>
									<tr>
										<th>
											<a href="single.html">Tech Mahindra</a>
										</th>
										<td class="agileits_w3layouts_td">469.50</td>
										<td class="agileits_w3layouts_td"><span style="color:#FF0000">-1.90</span></td>
									</tr>				
								</table>
								<div style="padding-top:10px;font-size:13px;"><a href="single.html" style="color:#337ab7;">More »</a></div>
							</div>
						</div>
					</div>
					<div class="wthree_news_market_quote">
						<img src="images/2.png" alt=" " class="img-responsive" />
						<div class="wthree_news_market_quote_pos">
							<p>trade <span>market</span></p>
						</div>
					</div>
					<div class="w3_market_status">
						<div class="w3_market_status1">
							<h4>Gainers</h4>
							<div class="w3_market_status1_left">
								<h5>GAIL</h5>
								<p><i class="caret caret1" style="color:#00AA00;"></i> 383.05 <span>14.83 2.78%</span></p>
							</div>
							<div class="w3_market_status1_right">
								<span class="line">5,3,9,6,5,9,7,3,5,2</span>
							</div>
							<div class="clearfix"> </div>
							<script>
								$(".line").peity("line")
							</script>
							<h3>35 companies added</h3>
						</div>
						<div class="w3_market_status1">
							<h4>Losers</h4>
							<div class="w3_market_status1_left">
								<h5>HCL Tech</h5>
								<p><i class="caret" style="color:#FF0000;"></i> 775.50 <span class="w3_mark">-22.90 -2.18%</span></p>
							</div>
							<div class="w3_market_status1_right">
								<span class="line1">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
							</div>
							<div class="clearfix"> </div>
							<script>
								$(".line1").peity("line")
							</script>
							<h3>64 companies eroded</h3>
						</div>
						<div class="w3_market_status1">
							<h4>Commodity Gainers</h4>
							<div class="w3_market_status1_left">
								<h5>Cardamom</h5>
								<p><i class="caret caret1" style="color:#00AA00;"></i> 1178.0/kg's <span>29.40 2.51%</span></p>
							</div>
							<div class="w3_market_status1_right">
								<span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
							</div>
							<div class="clearfix"> </div>
							<script>
								var updatingChart = $(".updating-chart").peity("line", { width: 64 })

									setInterval(function() {
									  var random = Math.round(Math.random() * 10)
									  var values = updatingChart.text().split(",")
									  values.shift()
									  values.push(random)

									  updatingChart
										.text(values.join(","))
										.change()
									}, 1000)
							</script>
						</div>
						<div class="w3_market_status1">
							<h4>Commodity Losers</h4>
							<div class="w3_market_status1_left">
								<h5>Cotton</h5>
								<p><i class="caret" style="color:#FF0000;"></i> 201.7/1Bales <span class="w3_mark">-160.00 -0.83%</span></p>
							</div>
							<div class="w3_market_status1_right">
								<span class="updating-chart1">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
							</div>
							<div class="clearfix"> </div>
							<script>
								var updatingChart = $(".updating-chart1").peity("line", { width: 64 })

									setInterval(function() {
									  var random = Math.round(Math.random() * 10)
									  var values = updatingChart.text().split(",")
									  values.shift()
									  values.push(random)

									  updatingChart
										.text(values.join(","))
										.change()
									}, 1000)
							</script>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_news_original_grids_right">
					<div class="w3layouts_add_market">
						<img src="images/13.jpg" alt=" " class="img-responsive" />
						<div class="w3layouts_add_market_pos">
							<h3>pay demat dues online</h3>
						</div>
					</div>
					<div class="w3_stocks">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab2" class="nav nav-tabs nav-tabs1" role="tablist">
								<li role="presentation" class="active"><a href="#home2" id="home2-tab" role="tab" data-toggle="tab" aria-controls="home2" aria-expanded="true">Stocks</a></li>
								<li role="presentation"><a href="#latest2" role="tab" id="latest2-tab" data-toggle="tab" aria-controls="latest2">Funds</a></li>
								<li role="presentation"><a href="#experts2" role="tab" id="experts2-tab" data-toggle="tab" aria-controls="experts2">Commodities</a></li>
							</ul>
							<div id="myTabContent2" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home2" aria-labelledby="home2-tab">
									<div class="w3l_stocks">
										<div class="w3l_stocks1">
											<a href="single.html"><h4>Axis Bank</h4></a>
											<p>579.80<i style="color:#00AA00;"><span class="caret caret1"></span>1.85<label>(0.33%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>Infosys</h4></a>
											<p>1,016.35<i><span class="caret"></span>-4.95<label>(-0.48%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>SBI</h4></a>
											<p>255.70<i><span class="caret"></span>-3.75<label>(-1.45%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>Sun Pharma</h4></a>
											<p>808.25<i><span class="caret"></span>-13.75<label>(-1.75%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>TCS</h4></a>
											<p>2,548.70<i><span class="caret"></span>-54.80<label>(-2.10%)</label></i></p>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="latest2" aria-labelledby="latest2-tab">
									<div class="w3l_stocks">
										<div class="w3l_stocks1">
											<a href="single.html"><h4>Kotak Select Focus Fund - Regular (G)</h4></a>
											<p>25.975<i style="color:#00AA00;"><span class="caret caret1"></span>0.06<label>(0.25%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>Birla SL Frontline Equity (G)</h4></a>
											<p>180.83<i style="color:#00AA00;"><span class="caret caret1"></span>0.14<label>(0.08%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>SBI Blue Chip Fund (G)</h4></a>
											<p>31.918<i style="color:#00AA00;"><span class="caret caret1"></span>0.02<label>(0.05%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>Principal Emerging Bluechip (G)</h4></a>
											<p>80.11<i style="color:#00AA00;"><span class="caret caret1"></span>0.37<label>(0.46%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4>SBI Magnum Multicap Funds (G)</h4></a>
											<p>37.592<i style="color:#00AA00;"><span class="caret caret1"></span>0.14<label>(0.36%)</label></i></p>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="experts2" aria-labelledby="experts2-tab">
									<div class="w3l_stocks">
										<div class="w3l_stocks1">
											<a href="single.html"><h4 style="text-transform:capitalize;">Copper Spt 25,2016</h4></a>
											<p>318.10<i><span class="caret"></span>-4.05<label>(-1.26%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4 style="text-transform:capitalize;">natural gas Spt 24,2016</h4></a>
											<p>177.10<i style="color:#00AA00;"><span class="caret caret1"></span>2.1<label>(1.2%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4 style="text-transform:capitalize;">crude oil Spt 23,2016</h4></a>
											<p>3231.00<i><span class="caret"></span>-61<label>(-1.85%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4 style="text-transform:capitalize;">Silver Spt 22,2016</h4></a>
											<p>44726.00<i><span class="caret"></span>-718<label>(-1.58%)</label></i></p>
										</div>
										<div class="w3l_stocks1">
											<a href="single.html"><h4 style="text-transform:capitalize;">gold Spt 21,2016</h4></a>
											<p>31285.00<i><span class="caret"></span>-119<label>(-0.38%)</label></i></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="agileinfo_chat">
						<h3><i class="fa fa-comments-o" aria-hidden="true"></i>Chat</h3>
						<div class="agileinfo_chat_left">
							<img src="images/17.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="agileinfo_chat_right">
							<h4>Mark Allen</h4>
							<p>investments in fixed income</p>
						</div>
						<div class="clearfix"> </div>
						<h5><i>Head funds & fixed income research, CRISIL <span>(25 Sep 2016 - 20:00hrs)</span></i></h5>
						<a href="single.html"><span class="blink_me">Chat Now</span></a>
					</div>
					<div class="wthree_international">
						<img src="images/18.jpg" alt=" " class="img-responsive" />
						<div class="wthree_international_pos">
							<p>international markets</p>
						</div>
					</div>
					<div class="w3layouts_newsletter">
						<h3><i class="fa fa-envelope" aria-hidden="true"></i>Newsletter</h3>
						<form action="#" method="post">
							<input class="email" name="Email" type="email" placeholder="Email" required="">
							<input type="submit" value="Send">
						</form>
						<p>Trade market offers you a choice of email alerts on your investments for FREE!</p>
					</div>
					<div class="w3_latest_stock">
						<img src="images/19.jpg" alt=" " class="img-responsive" />
						<div class="w3_latest_stock_pos">
							<h3>latest <span>stock <i>market</i> updates</span></h3>
						</div>
					</div>
					<div class="w3l_your_stocks">
						<h3><i class="fa fa-stack-exchange" aria-hidden="true"></i>Your Stocks</h3>
						<form action="#" method="post">
							<span>
								<label>Name</label>
								<input type="text" name="Name" placeholder=" " required="">
							</span>
							<span>
								<label>Mobile</label>
								<input type="text" name="Mobile" placeholder=" " required="">
							</span>
							<span>
								<label>Email</label>
								<input type="email" name="Email" placeholder=" " required="">
							</span>
							<span>
								<label>Location</label>
								<input type="text" name="Location" placeholder=" " required="">
							</span>
							<span>
								<label>Pin</label>
								<input type="text" name="Pin" placeholder=" " required="">
							</span>
							<input type="submit" value="Submit Now">
						</form>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //news-original -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<ul class="agileits_w3layouts_footer_info">
				<li><a href="index.html">Home</a><i>|</i></li>
				<li><a href="news.html">Markets</a><i>|</i></li>
				<li><a href="funds.html">mutual funds</a><i>|</i></li>
				<li><a href="commodities.html">commodities</a><i>|</i></li>
				<li><a href="portfolio.html">portfolio</a><i>|</i></li>
				<li><a href="about.html">About Us</a><i>|</i></li>
				<li><a href="ipo.html">IPO</a><i>|</i></li>
				<li><a href="sitemap.html">sitemap</a></li>
			</ul>
			<p>© 2016 Trade Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
<!-- //footer -->
<!-- script for marque -->
	<script>
	  $('.marquee').marquee({
		gap: 100,
		delayBeforeStart: 0,
		direction: 'left',
		duplicated: true,
		pauseOnHover: true
	});
	</script>
	
<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>