<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />

<!-- Begin JavaScript -->

<script type="text/javascript" src="lib/jquery.1.4.2.js"></script>
	<script type="text/javascript" src="lib/jquery.custom.js"></script>


</head>
<body>

<div id="bg_img">
<div id="main">
<div id="main_img">
<!-- header begins -->
<div id="header">
	<div id="buttons">
      <a href="index.html" class="but"  title="">Home</a>
      <a href="blog.html" class="but" title="">Blog</a>
      <a href="gallery.html"  class="but" title="">Photo Gallery</a>
      <a href="about_us.html"  class="but" title="">About us</a>
      <a href="contact_us.html" class="but" title="">Contact us</a>    </div>
	<div id="logo">
    	<a href="#">metamorph_flamestorm</a>
      	<h2><a href="#" id="metamorph">Company Slogan Goes Here</a></h2>
    </div>
   
</div>
<!-- header ends -->


        <!-- content begins -->
                <div class="cont_top"></div>
       			<div id="content">
                      <div id="right">
                        <h1>Find Us</h1><br />
                        <img src="images/img51.jpg" alt="" /><br /> <div style="height:5px"></div>
						<a href="#" class="wiew_map">View Larger Map</a>
                        
                        <div style="height:15px"></div>
                        <h1>Our Info</h1>
                        <div style="height:5px"></div>
                        1234 SomeStreet<br />
                        Brooklyn, NY 11201<br />
						Phone:  1(234) 567 8910<br />
						Fax: 1(234) 567 8910<br />
						E-mail: companyname@yahoo.com
                  </div>
                        <div id="left">
                          <h1>Contact Us</h1>
                          <div style="height:10px"></div>
                          <span class="span_s">Nullam fringilla dolor sit amet nulla dictum porttitor a at orci. </span><br />
                                Fusce at tortor est. Morbi eget leo vitae nibh aliquam elementum in id mauris. Fusce in elit nec lectus mollis bibendum. Integer eu lectus at tortor vestibulum rutrum. Pellentesque rutrum, ipsum eu adipiscing ornare, elit erat dignissim mi, vitae... <br />
                          <div style="height:15px"></div>
                            <form action="" method="post">
                              <div><input class="input_txt2" value="Name" name="Name" type="text" /></div><div style="height:5px"></div>
                              <div>
                                <input class="input_txt2" value="E-mail" name="E-mail" type="text" />
                              </div>
                              <div style="height:5px"></div>
                              <div>
                                <input class="input_txt2" value="Subject" name="Subject" type="text" />
                              </div>
                              <div style="height:5px"></div>
                              <div><textarea class="text_area2" cols="32" rows="3" name="Message">Message</textarea></div><div style="height:8px"></div>
                              <div>
                                <input class="submit2" name="Submit2" type="submit" value="Submit" />
                              </div>
                            </form>
                            
                        
                      </div>
                      <div style="clear: both; height: 10px"></div>
                    
        		</div>
                <div class="cont_bot"></div>
    <!-- content ends -->
    <div style="height:10px;"></div>
     
<!-- footer begins -->
<div id="footer_top">
			<div id="footer_column1">
				<h3>Recent posts</h3>
				<div class="footer_text">
					<p><a href="#">Suspendisse rutrum interdum lacinia.</a>
					Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar mauris, ac vulputate justo pretium quis. </p>
					<br />
					<p><a href="#">Quisque luctus, mi ornare malesuada</a>
					Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar </p>
				</div>
			</div>
			<div id="footer_column2">
				<h3>Share with Others</h3>
				<div class="footer_text">
					<div class="foot_pad">
                   		<div class="link1"><a href="#">Subscribe to Blog</a></div>
                        <div class="link2"><a href="#">Be a fan on Facebook</a></div>
                        <div class="link3"><a href="#">RSS Feed</a></div>
                        <div class="link4"><a href="#">Follow us on Twitter</a></div>
                    </div>
				</div>
			</div>
			<div id="footer_column3">
				<h3>Useful Resources</h3>
				<div class="footer_text">
					<div class="foot_pad">
                    	<ul class="ls">
                        	<li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Maecenas in turpis </a></li>
                            <li><a href="#">Morbi fringilla libero</a></li>
                            <li><a href="#">In venenatis metus vel </a></li>
                            <li><a href="#">Donec cursus quam ac </a></li>
                        </ul>
                    </div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
            <div id="footer">
          <p>Copyright  2011. <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p> 
	<!-- Please DO NOT remove the following notice --><p>Design by <a href="http://www.metamorphozis.com/" title="Free Website Templates">Free Website Templates</a></p><!-- end of copyright notice--></div>
        <!-- footer ends -->
</div>

</div>
</div>
</body>
</html>
