<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />
<!-- Begin JavaScript -->
<script type="text/javascript" src="lib/jquery.1.4.2.js"></script>
	<script type="text/javascript" src="lib/jquery.custom.js"></script>
<script type="text/javascript" src="lib/compressed.js"></script>

</head>
<body>
<div id="bg_img">
<div id="main">
<div id="main_img">
<!-- header begins -->
<div id="header">
	<div id="buttons">
      <a href="index.html" class="but"  title="">Home</a>
      <a href="blog.html" class="but" title="">Blog</a>
      <a href="gallery.html"  class="but" title="">Photo Gallery</a>
      <a href="about_us.html"  class="but" title="">About us</a>
      <a href="contact_us.html" class="but" title="">Contact us</a>    </div>
	<div id="logo">
    	<a href="#">metamorph_flamestorm</a>
      	<h2><a href="#" id="metamorph">Company Slogan Goes Here</a></h2>
    </div>
   
</div>
<!-- header ends -->


        <!-- content begins -->
                <div class="cont_top"></div>
       			<div id="content">
				
				
					<ul id="slideshow">
		<li>
			<h3>Donec nec mauris</h3>
			<span>images/img31.jpg</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
			<a href="#"><img src="images/img32.jpg" alt="Some Image Description Here" /></a>
		</li>
		<li>
			<h3> Aliquam ut urna.</h3>
			<span>images/img_big2.jpg</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
			<img src="images/img33.jpg" alt="Some Image Description Here"  />
		</li>
		<li>
			<h3> Donec nec mauris</h3>
			<span>images/img_big3.jpg</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
			<a href="#"><img src="images/img34.jpg" alt="Red Coral" /></a>
		</li>
		<li>
			<h3>Proin nulla dolor</h3>
			<span>images/img_big4.jpg</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
			<a href="#"><img src="images/img35.jpg" alt="Coral Reef" /></a>
		</li>
		<li>
			<h3>Euismod ut, felis</h3>
			<span>images/img_big5.jpg</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
			<img src="images/img36.jpg" alt="Blue Fish" />
		</li>
		<li>
			<h3>TinySlideshow v.2</h3>
			<span>images/img_big6.jpg</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
			<a href="#"><img src="images/img37.jpg" alt="Yellow Fish" /></a>
		</li>		
	</ul>
	<div id="wrapper">
		<div id="fullsize">
			<div id="imgprev" class="imgnav" title="Previous Image"></div>
			<div id="imglink"></div>
			<div id="imgnext" class="imgnav" title="Next Image"></div>
			<div id="image"></div>
			<div id="information">
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div id="thumbnails">
			<div id="slideleft" title="Slide Left"></div>
			<div id="slidearea">
				<div id="slider"></div>
			</div>
			<div id="slideright" title="Slide Right"></div>
		</div>
	</div>
<script type="text/javascript">
	$('slideshow').style.display='none';
	$('wrapper').style.display='block';
	var slideshow=new TINY.slideshow("slideshow");
	window.onload=function(){
		slideshow.auto=true;
		slideshow.speed=5;
		slideshow.link="linkhover";
		slideshow.info="information";
		slideshow.thumbs="slider";
		slideshow.left="slideleft";
		slideshow.right="slideright";
		slideshow.scrollSpeed=4;
		slideshow.spacing=5;
		slideshow.active="#fff";
		slideshow.init("slideshow","image","imgprev","imgnext","imglink");
	}
</script>
			
			
					<div style="clear: both"></div>
                </div>
				
                <div class="cont_bot"></div>
    <!-- content ends -->
    <div style="height:10px;"></div>
     
<!-- footer begins -->
<div id="footer_top">
			<div id="footer_column1">
				<h3>Recent posts</h3>
				<div class="footer_text">
					<p><a href="#">Suspendisse rutrum interdum lacinia.</a>
					Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar mauris, ac vulputate justo pretium quis. </p>
					<br />
					<p><a href="#">Quisque luctus, mi ornare malesuada</a>
					Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar </p>
				</div>
			</div>
			<div id="footer_column2">
				<h3>Share with Others</h3>
				<div class="footer_text">
					<div class="foot_pad">
                   		<div class="link1"><a href="#">Subscribe to Blog</a></div>
                        <div class="link2"><a href="#">Be a fan on Facebook</a></div>
                        <div class="link3"><a href="#">RSS Feed</a></div>
                        <div class="link4"><a href="#">Follow us on Twitter</a></div>
                    </div>
				</div>
			</div>
			<div id="footer_column3">
				<h3>Useful Resources</h3>
				<div class="footer_text">
					<div class="foot_pad">
                    	<ul class="ls">
                        	<li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Maecenas in turpis </a></li>
                            <li><a href="#">Morbi fringilla libero</a></li>
                            <li><a href="#">In venenatis metus vel </a></li>
                            <li><a href="#">Donec cursus quam ac </a></li>
                        </ul>
                    </div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
            <div id="footer">
         <p>Copyright  2011. <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p> 
	<!-- Please DO NOT remove the following notice --><p>Design by <a href="http://www.metamorphozis.com/" title="Free Website Templates">Free Website Templates</a></p><!-- end of copyright notice--></div>
        <!-- footer ends -->
</div>

</div>
</div>
</body>
</html>
